<%- include('partials/header') %>
<main class="container">
    <h2><%= pageTitle %></h2>
    <div class="category-list">
        <ul>
            <% categories.forEach(function(category) { %>
                <li>
                    <a href="/category/<%= category.category_id %>">
                        <%= category.category_name %>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</main>
<%- include('partials/footer') %>