<%- include('partials/header') %>
<main class="container">
    <h2><%= pageTitle %></h2>
    <p>Here are some of the wonderful organizations we work with.</p>
    
    <div class="org-grid">
        <% organizations.forEach(function(org) { %>
            <article class="org-card">
                <img src="/images/org<%= org.organization_id %>.jpg" alt="Logo de <%= org.organization_name %>" onerror="this.style.display='none'">
                <h3><%= org.organization_name %></h3>
                <p><%= org.description %></p>
            </article>
        <% }) %>
    </div>
</main>
<%- include('partials/footer') %>