<%- include('partials/header') %>
<main class="container">
    <h2><%= pageTitle %></h2>
    <div class="organization-list">
        <ul>
            <% organizations.forEach(function(org) { %>
                <li style="margin-bottom: 20px; list-style-type: none;">
                    
                    <img src="/images/org<%= org.organization_id %>.jpg" alt="<%= org.organization_name %>" style="max-width: 200px; display: block; margin-bottom: 10px; border-radius: 8px;">
                    
                    <a href="/organization/<%= org.organization_id %>" style="font-size: 1.2rem; font-weight: bold;">
                        <%= org.organization_name %>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</main>
<%- include('partials/footer') %>